.output {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7rem;
    margin-right: 7rem;

    @media all and (max-width: 500px) {
          margin-left: 1rem;
          margin-right: 1rem;
          flex-direction: column;
          align-items: center;
    }
}

img + img {
    margin-left: 1.5rem;
}

  .galleryImg {
      object-fit: cover;
      width: 20%;
      height: auto;
      margin-top: 2rem;

      @media all and (max-width: 768px) {
          width: 40%;
      }

      @media all and (max-width: 500px) {
        width: 100%;
      }
  }