.manage {
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.princeImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.viceImg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
   
}

.manageSection {
    margin-top: 5rem;
    margin-bottom: 2rem;
}